p.caption {
  color: #777;
  margin-top: 10px;
  font-size: 14px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

dmark.red {
  color:#ff0000;
  background: none;
}

mark.green {
  font: bold;
  color:#228B22;
  background: none;
}

mark.highlight {
  font: bold;
}

mark.big {
  font: bold;
  font-size: 18px;
  background: none;
}
